*.apk
*.ap_
*.dex
*.class
/.idea/workspace.xml
/.idea/libraries
bin/
gen/
build/
local.properties
proguard/
*.log
.navigation/
captures/
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/workspace.xml